*{padding: 0;margin: 0;}
*::after{padding: 0;margin: 0;}
*::before{padding: 0;margin: 0;}
*{transition: all 0.5s;}
*{box-sizing: border-box;}
*::-webkit-scrollbar{display: none;}

body{height:100vh;background-color: #152237;}

.page{height: 50%;position: fixed;top: 0;width: 100%;
    background-color:#152237; color:#8a9a9b;padding: 10px;overflow: auto;}










.bubble > div{
    width: 4px;height:4px;border-radius: 100%;background-color: #ff96c0;
    position: absolute;
    bottom: -20px;
    opacity: 0;
}
.bubble > :nth-child(1){
    left: 80px;
  
}
.bubble > :nth-child(2){
        left: 50px;
       
    }
    .bubble > :nth-child(3){
       
        right: 20px;
    }
    .bubble > :nth-child(4){
        left: 30px;
        animation-delay: 1s;

    }
    .bubble > :nth-child(5){
        right: 59px;
      
    }
    .bubble > :nth-child(6){
        left: 132px;
       animation-delay: 2s;
    }
    .bubble > :nth-child(7){
        right: 58px;
        animation-delay: 1s;
    }
    .bubble > :nth-child(8){
        right: 72px;;
       
    }
    .bubble > :nth-child(9){
        left: 50px;
       
    }
    .bubble > :nth-child(10){
        right: 50px;
        animation-delay: 2s;
    }
@keyframes breath{
    0%{box-shadow: 0px 0px 30px 2px #f594b8;}
    100%{box-shadow: 0px 0px 10px #f594b8;}
}
@keyframes move {
    0%{
        transform: translateY(0);
        opacity: 0;
       
        
    }
    50%{opacity: 1;}
    100%{
        transform: translateY(-160px);
        opacity: 0;
    }
}
